*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background-color:hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    margin: 5%;
}
#QR{
    width: 370px;
    height: 525px;
    background-color: white;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.123);
    border-radius: 30px;
}
img{
    width: 330px;
    height: 330px;
    position: relative;
    top:20px;
    right: 20px;
    bottom: 50px;
    left: 20px;
    border-radius: 14px;
 
}

h1{
    text-align: center;
    margin-top:2em;
    margin-bottom: 1em;
    padding: 0px 20px 15px;
    color: hsl(217, 45%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
}
p{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    color: hsl(214, 15%, 56%);
    padding: 0px 20px 15px;

}